/* خط قوقل */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;700;800;900&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}

a, button
{
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

body
{
    background-color: rgba(35, 35, 35, 0.95);
}

.heading-title
{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: rgba(37, 37, 37, 1);
}

.logo
{
    cursor: pointer;
    width: 80px;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .signUp
{
    margin-top: 0;
}

.login
{
    padding: 5px 25px;
    margin-left: 40px;
    background-color: rgba(236, 29, 29, 1);
    border: none;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid rgba(236, 29, 29, 1);
    transition: all 0.3s ease 0s;
}

.login:hover
{
    background-color: transparent;
}

.signUp
{
    padding: 5px 25px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid rgba(236, 29, 29, 1);
    transition: all 0.3s ease 0s;
}

.signUp:hover
{
    background-color: rgba(236, 29, 29, 1);
}
.sala
{
    margin-left: -120px;
}
.sala img
{
    width: 50px;
}


/* تصميم محتوى الصفحة */

.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container_product
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card
{
    background: rgba(35, 35, 35, 0.19);
    width: 370px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.card:hover
{
    cursor: pointer;
    transform: scale(1.03);
}

.card_image
{
    height: 320px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}

.card_image img
{
    width: 350px;
}

.card h2
{
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.card p
{
    padding: 10px;
    font-size: 10px;
    line-height: 1.8;
    color: #fff;
}

.card a
{
    background-color: rgba(236, 29, 29, 1);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 40px;
}

.wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .price_content .price,
.wrapper .qnty_content .qnty
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

/* تصميم شات البوت */


.full_chat_block::-webkit-scrollbar {
    display: none;
}

.chat_bar_collapseible
{
    position: fixed;
    bottom: 0;
    left: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.collapsible
{
    background-color: rgba(236, 29, 29, 1);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    text-align: right;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    border: none;
    border-bottom: none;
}

.content
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full_chat_block
{
    width: 300px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer_container
{
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat_container
{
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat_container::-webkit-scrollbar
{
    display: none;
}

.chat_baar_input_block
{
    display: flex;
    float: right;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 10px;
}

.chat_bar_icons
{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: left;
    font-size: 20px;
}

#chat_icon:hover
{
    opacity: 7;
}


/* Chat bubbles */

#userInput
{
    width: 75%;
}

.input_box
{
    float: right;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    color: #000;
    background-color: white;
    outline: none;
}

.userText
{
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    clear: both;
}

.userText span
{
    line-height: 1.8em;
    display: inline-block;
    background: rgba(236, 29, 29, 1);
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: floatUp .5s forwards;
}

.botText
{
    color: #000;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    clear: both;
}

.botText span
{
    line-height: 1.8em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: floatUp .5s forwards;
}


@keyframes floatUp
{
    from
    {
        transform: translateY(14px);
        opacity: .0;
    }

    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Footer */

footer
{
    width: 100%;
    position: absolute;
    background: rgba(37, 37, 37, 1);
    color:#fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.col
{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3)
{
    flex-basis: 15%;
}

footer .logo
{
    width: 80px;
    margin-bottom: 30px;
}

.col h3
{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email_id
{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.soical_icons .fab
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgba(236, 29, 29, 1);
    background:#fff;
    margin-left: 15px;
    cursor: pointer;
}

hr
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgba(236, 29, 29, 1);
    margin: 20px auto;
}

.copyright
{
    text-align: center;
    font-weight: 700;
}
.copyright .myTires
{
    color:rgba(236, 29, 29, 1);
}

@media(max-width: 1142px)
{

    header
    {
        padding: 1px 200px;
    }

    .login, .signUp
    {
        padding: 5px 10px;
        font-size: 15px;
    }

}

@media(max-width: 600px)
{
    header
    {
        padding: 1px 32px;
    }

    .logo
    {
        width: 40px;
    }

    .sala
    {
        margin-left: -20px;
    }

    footer
    {
        bottom: unset;
    }

    .col
    {
        flex-basis: 100%;
    }

    .col:nth-child(2), .col:nth-child(3)
    {
        flex-basis: 100%;
    }

    .full_chat_block
    {
        width: 100%;
        border-radius: 0;
    }

    .chat_bar_collapseible
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .collapsible
    {
        width: 100%;
        border: 0;
        border-top: 3px solid white;
        border-radius: 0;
    }

}

@media(max-width: 500px)
{
    .login, .signUp
    {
        padding: 1px 10px;
        font-size: 12px;
    }

    .signUp
    {
        margin-left: 5px;
    }
}

@media(max-width: 400px)
{
    .login, .signUp
    {
        padding: 0 5px;
    }
}

@media(max-width: 300px)
{
    .login, .signUp
    {
        padding: 1px 5px;
        font-size: 5px;
        border: 1px solid rgba(236, 29, 29, 1);
    }

    .container_product
    {
       width: 100px;
    }

}
